* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    display: flex;
    background: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    height: auto;
}

#page-1, #page-2, #page-3, #page-4, #page-5 {
    width: 100%;
    margin-top: 3.3rem;
}
.hero {
    background: url(Resources/joshua-fuller-RSPVXlTfg1Y-unsplash.jpg) no-repeat center center fixed;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    position: relative;
}
.hero p {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
}
span {
    min-height: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    color: #f2f2f2;
}

.topnav {
    margin-left: auto;
    overflow: hidden;
}


.topnav a {
    font-size: 1rem;
    height: 100%;
    color: #f2f2f2;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    outline: 0;
}

.topnav a:hover {
    background-color: white;
    color: white;
}

.topnav .icon {
    display: none;
}



@media screen and (max-width: 730px) {
    .hero {
        width: 100%;
    }
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        display: inline-block;

    }
    #page-1, #page-2, #page-3, #page-4, #page-5 {
        width: 100%;
        margin-top: 3.3rem;
    }
    
}
@media screen and (max-width: 730px) {
    .topnav.responsive {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }
    .topnav a:hover {
        background: none;
    }
    .topnav.responsive a {
        display: block;
    }
  }