* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    display: flex;
    background: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    height: auto;
}

#page-1, #page-2, #page-3, #page-4, #page-5 {
    width: 100%;
    margin-top: 3.1rem;
}
.hero {
    background: url(Resources/joshua-fuller-RSPVXlTfg1Y-unsplash.jpg) no-repeat center center;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    position: relative;
}
.hero p {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 1.75em;
}
span {
    min-height: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1em;
    color: #f2f2f2;
}

.navigation {
    margin-left: auto;
    overflow: hidden;
}


.navigation a {
    font-size: 1em;
    height: 100%;
    color: #f2f2f2;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    outline: 0;
}

.navigation .icon {
    display: none;
}

.about-me, .testimonials {
    padding: 7rem 1rem;
    background-color: rgb(245, 244, 244);
    text-align: center;
}

.about-me h2 {
    display: inline-block;
    margin-bottom: 5rem;
    border-right: 5px solid #a3ad16;
    border-bottom: 5px solid #a3ad16;
    padding: 1.5rem;
    font-size: 2em;
}
.about-me p {
    text-align: center;
    font-size: 1em;
    padding: 1rem;
}

.skills {
    padding: 7rem 1rem;
    text-align: center;
}
.skills-heading {
    display: inline-block;
    margin-bottom: 5rem;
    border-right: 5px solid #a3ad16;
    border-bottom: 5px solid #a3ad16;
    font-size: 2em;
    padding: 1.5rem;
}
.skill-cards, .testimonial-comments {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    text-align: center;
}
.card {
    height: min-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    text-align: center;
    width: 17rem;
    margin-right: 1rem;
}
.card img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.card p {
    font-size: 1em;
    line-height: 1.25;
    margin-top: 1rem;
}
.testimonials h2 {
    display: inline-block;
    margin-bottom: 5rem;
    border-right: 5px solid #a3ad16;
    border-bottom: 5px solid #a3ad16;
    padding: 1.5rem;
    font-size: 2em;
}
.testimonial-comment {
    display: flex;
    height: 10rem;
    width: 80%;
    margin-top: 2rem;
}
.testimonial-comment img {
    width: 30%;
    border-radius: 50%;
    margin-right: auto;
}
.comment-details p {
    line-height: 1.25;
    font-size: 1em;
}
.comment-details h4 {
    margin-bottom: 1rem;
}
.footer {
    text-align: center;
    background-color: #333;
    color: white;
    font-size: 1em;
    padding: 2rem;
}
.page-2 {
    position: relative;
}
.about-me_page-centerpiece {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    width: 80%;
    margin: auto auto;
    text-align: center;
    font-size: 1rem;
    line-height: 1.25;
}
.about-me_page-centerpiece img {
    border-radius: 20%;
    height: 20rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}
.about-me_page-centerpiece p {
    margin-top: 1rem;
    padding: 1rem;
}
.blog-cards {
  margin: 5rem auto;
  width: 80%;
}
.blog-card {
  display: flex;
  margin: 1rem auto;
  background: rgb(245, 244, 244);
  font-size: 1em;
  line-height: 1.50;
  border-radius: 10px;
}
.image {
  width: 50%;
  background-image: url(/GiantTripod.github.io/Resources/joshua-fuller-RSPVXlTfg1Y-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.blog-details {
    padding: 1rem;
    width: 50%;
    margin-left: auto;
}
.read-more {
    margin-top: 1rem;
    padding: .3rem;
    border-radius: 5px;
    border: px solid lightgray;
}
.footer-secondary {
    margin-top: auto;
    width: 100%;
}
@media screen and (max-width: 730px) {
    .hero {
        width: 100%;
    }
    .navigation a:not(:first-child) {
        display: none;
    }

    .navigation a.icon {
        display: inline-block;

    }
    #page-1, #page-2, #page-3, #page-4, #page-5 {
        width: 100%;
        margin-top: 3.1rem;
    }
    .navigation.responsive {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
    }
    .navigation.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }
    .navigation a:hover {
        background: none;
    }
    .navigation.responsive a {
        display: block;
    }
    .testimonial-comment {
        flex-direction: column;
        margin-bottom: 7rem;
        justify-content: space-around;
    }
    .testimonial-comment img {
        margin-left: auto;
    }
    .comment-details {
        margin-top: 1rem;
    }
}
