* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    display: flex;
    background: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    height: auto;
}

#page-1, #page-2, #page-3, #page-4, #page-5 {
    width: 100%;
    margin-top: 3.1rem;
}
.hero {
    background: url(Resources/joshua-fuller-RSPVXlTfg1Y-unsplash.jpg) no-repeat center center;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: white;
    position: relative;
}
.hero p {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 1.75em;
}
span {
    min-height: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1em;
    color: #f2f2f2;
}

.navigation {
    margin-left: auto;
    overflow: hidden;
}


.navigation a {
    font-size: 1em;
    height: 100%;
    color: #f2f2f2;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    outline: 0;
}

.navigation a:hover {
    background-color: white;
    color: black;
}

.navigation .icon {
    display: none;
}

.about-me {
    padding: 7rem 1rem;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

.about-me h2 {
    display: inline-block;
    margin-bottom: 5rem;
    border-right: 5px solid #a3ad16;
    border-bottom: 5px solid #a3ad16;
    padding: 1.5rem;
    font-size: 2em;
}
.about-me p {
    text-align: center;
    font-size: 1.25em;
}

.skills {
    padding: 7rem 1rem;
    text-align: center;
}
.skills-heading {
    display: inline-block;
    margin-bottom: 5rem;
    border-right: 5px solid #a3ad16;
    border-bottom: 5px solid #a3ad16;
    font-size: 2em;
    padding: 1.5rem;
}
.skill-cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    height: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    text-align: center;
    width: auto;
}
.card img {
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
}
.card p {
    font-size: 1.25em;
    margin-top: 1rem;
}
@media screen and (max-width: 730px) {
    .hero {
        width: 100%;
    }
    .navigation a:not(:first-child) {
        display: none;
    }

    .navigation a.icon {
        display: inline-block;

    }
    #page-1, #page-2, #page-3, #page-4, #page-5 {
        width: 100%;
        margin-top: 3.1rem;
    }
    
}
@media screen and (max-width: 730px) {
    .navigation.responsive {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
    }
    .navigation.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }
    .navigation a:hover {
        background: none;
    }
    .navigation.responsive a {
        display: block;
    }
  }
